<!doctype html>
<html>
  <head>
    <title>Uber Pickup Times</title>
    <meta charset="utf-8" />
    <link href="/static/style.css" rel="stylesheet">
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="/static/gmaps.js"></script>
    <script type="text/javascript" src="/static/main.js"></script>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">Uber Pickup Times</h1>
      <p class="sub-title">Find available Uber rides around you along with their ETAs! Click <em>Find Cars</em> to begin.</p>
      <div id="map"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="button-gp">
        <button onclick="getLocation()" class="btns btn-lg"><i class="fa fa-location-arrow"></i> Find Cars</button>
        <button onclick="refreshCars()" class="btns btn-lg"><i class="fa fa-refresh"></i> Refresh List</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="info">
      </div>
      <div class="footer">
        <p>An open source experiment by <a href="https://github.com/amjd">Amjad</a>. View on <a href="https://github.com/amjd/Uber-Pickup-Times"><i class="fa fa-github"></i> GitHub.</a></p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
