<!doctype html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8" />
    <link href="/static/style.css" rel="stylesheet">
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="/static/gmaps.js"></script>
    <script type="text/javascript">
      var map;
      $(document).ready(function(){
        map = new GMaps({
          div: '#map',
          lat: 12.946550,
          lng: 77.600615,
          zoom: 10
        });
        var styles = [{"featureType":"administrative","stylers":[{"visibility":"on"}]},{"featureType":"poi","stylers":[{"visibility":"simplified"}]},{"featureType":"road","stylers":[{"visibility":"simplified"}]},{"featureType":"water","stylers":[{"visibility":"simplified"}]},{"featureType":"transit","stylers":[{"visibility":"simplified"}]},{"featureType":"landscape","stylers":[{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"visibility":"simplified"}]},{"featureType":"road.local","stylers":[{"visibility":"on"}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"visibility":"on"}]},{"featureType":"water","stylers":[{"color":"#84afa3"},{"lightness":52}]},{"stylers":[{"saturation":-77}]},{"featureType":"road"}];

        map.addStyle({
          styledMapName:"Styled Map",
          styles: styles,
          mapTypeId: "apple-maps-esque"
        });
        map.setStyle("apple-maps-esque");
        
        GMaps.geolocate({     
          success: function(position){
            latitude = position.coords.latitude;
            longitude = position.coords.longitude;
            map.setCenter(latitude, longitude);
            map.setZoom(16);
            map.addMarker({
              lat: latitude,
              lng: longitude,
              title: latitude + ', ' + longitude,
              infoWindow: {
                content: '<p>You are here.</p>'
              }
            });
            $.get('http://{{ domain }}/livedata/'+latitude+'/'+longitude,function(data){
              data = JSON.parse(data);
              car_list = data['times'];
              if (car_list.length > 0)
              {
                $('#info').append('<h3>Available cars</h3>');
                for (var i=0; car_list.length; i++)
                {
                  $('#info').append('<p>' + car_list[i]['display_name'] + ' / Estimated time: ' + (Math.round((car_list[i]['estimate']/60)*10)/10) + ' minutes.');
                }
              }
              else {
                $('#info').append('<p>Sorry, no cars available at present.</p>')
              }
            })
          },     
          error: function(error){    
            alert('Geolocation failed: ' + error.message);   
          },     
          not_supported: function(){    
            alert("Your browser does not support geolocation");     
          },     
          always: function(){    
          }    
        });
      });
    </script>
</head>
<body>
<div class="container">
  <div class="row">
      <h1 class="page-header">Uber Pickup Times</h1>
      <div id="map"></div>
      <div id="info">
    
    </div>
  </div>
</div>
</body>
</html>
